.subreddit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.subreddit-list__header {
  font-size: 2rem;
  margin: 20px 0;
}
.subreddit-list__buttons-container {
  display: flex;
}
.subreddit-list__buttons-container button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 27px;
  width: 90px;
  margin: 25px;
}